<header>
  <nav>
    <ul>
      <li><a href='/dashboard'>Dashboard</a></li>
      <li><a href='/store'>Store</a></li>
      <li><a href='/backpack'>Backpack</a></li>
      <li><a href='#' id="logout">Logout</a></li>
    </ul>
  </nav>
</header>

<main>
  <h2>Select a Pokémon</h2>
  <div class="bg-container">
    {{#each gallery }}
    <div class="pokemon-card">
      <img src="{{picture}}" alt="{{name}}">
      <h2>{{name}}</h2>
      <p> Level: {{level}}</p>
      <p>HP: {{pokemon_stat.current_hp}}</p>
      <p>Attack: {{pokemon_stat.attack}}</p>
      <p>Defense: {{pokemon_stat.defense}}</p>
      <p>Abilities:</p>
      {{#each abilities as |ability|}}
      <strong>{{ability.name}} </strong>
      {{/each}}
      <button class="use-button"> Select </button>
    </div>
    {{/each}}
  </div>

  {{!-- Battle Box --}}
  <div class="starter-container">
    <div> Selected Pokemon</div>
    <div> VS</div>
    <button id="generate-opponent-button" type="button" class="button">Generate Opponent
      Pokémon!</button>
    <button id="battle-button" type="button" class="button">Click here to battle!</button>
  </div>
</main>

<script src="/js/logout.js"></script>