<header>
  <nav>
    <ul>
      <li><a href='/dashboard'>Dashboard</a></li>
      <li><a href='/store'>Store</a></li>
      <li><a href='/backpack'>Backpack</a></li>
      <li><a href='#' id="logout">Logout</a></li>
    </ul>
  </nav>
</header>

<section>
    <h2>Select a Pokemon SIIII</h2>
    <div>
        {{!-- Show your Pokemons from storage --}}
      {{!-- {{gallery}} --}}
      {{#each gallery }}
      <div class="card">
      <img src="{{picture}}">
      {{name}}
      {{level}}
      <p>Current HP:</p>
      {{pokemon_stat.current_hp}}
      <p>Attack:</p>
      {{pokemon_stat.attack}}
      <p>Defense:</p>
      {{pokemon_stat.defense}}
      <p>Abilities:</p>
      {{#each abilities as |ability|}}
      {{ability.name}}
      {{/each}}
      </div>
      
{{/each}}
    </div>

    {{!-- Battle Box --}}
    <div>
        <div> Selected Pokemon</div>
        <div> VS</div>
        <button id="generate-opponent-button" type="button" class="button">Generate Opponent
            Pokémon!</button>
        <button id="battle-button" type="button" class="button">Click here to battle!</button>
    </div>
</section>

<script src="/js/logout.js"></script>