<header>
  <nav>
    <ul>
<li><a href='#' id="logout">Logout</a></li> 
    </ul>
  </nav>
</header>
<main>
  <h2>Choose your starter Pokémon!</h2>
  <div class="starter-container">
    {{#each starters}}
      <div class="starter-card">
        <img src="{{this.picture}}" alt="{{this.name}}">
        <p><strong>{{this.name}}</strong></p>
        <p>HP: {{this.pokemon_stat.current_hp}} / {{this.pokemon_stat.max_hp}}</p>
        <p>Attack: {{this.pokemon_stat.attack}}</p>
        <p>Defense: {{this.pokemon_stat.defense}}</p>
        <p>Speed: {{this.pokemon_stat.speed}}</p>
        <button class="choose-starter-button" data-id="{{this.id}}">Choose!</button>
      </div>
    {{/each}}
  </div>
  <script src="/js/logout.js"></script>
  <script src="/js/choose-starter.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
</main>