<header>
    <nav>
        <ul>
            <li><a href='/battle'>Battle</a></li>
            <li><a href='/backpack'>Backpack</a></li>
            <li><a href='/store'>Store</a></li>
            <li><a href='#' id="logout">Logout</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1 class="dashboard">Welcome to your dashboard!</h1>
    <div class="wallet"></div>
    <div class="storage-pokemon">Pokémon Storage</div>
    <div class="bg-container">
        {{#each pokemons}}
        <div class="pokemon-card">
            <img src="{{this.picture}}" alt="{{this.name}}">
            <h2>{{this.name}}</h2>
            <p>Level: {{this.level}}</p>
            <p>HP: {{this.pokemon_stat.max_hp}}</p>
            <p>Attack: {{this.pokemon_stat.attack}}</p>
            <p>Defense: {{this.pokemon_stat.defense}}</p>
            <p>Speed: {{this.pokemon_stat.speed}}</p>
            {{#if this.favorite}}
            <p>⭐ Favorite</p>
            {{/if}}
        </div>
        {{/each}}
    </div>
</main>

<script src="/js/wallet.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/dashboard.js"></script>