<header>
    <nav>
        <ul>
            <li><a href='#' id="logout">Logout</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Battle Begins!</h2>

    <div class="battlefield-background">
        <!-- User's Pokémon -->
        <div class="battle-pokemon-card user-pokemon-card">
            <img id="user-pokemon-img" src="{{userPokemon.picture}}" alt="{{userPokemon.name}}">
            <h2>{{userPokemon.name}}</h2>
            <p>Level: {{userPokemon.pokemon_level.level}}</p>

            <div class="pokemon-stat">
                <img src="/images/health emoji.png" alt="HP Icon" class="stat-icon" id="hp-icon">
                <p>HP: {{userPokemon.pokemon_stat.current_hp}} / {{userPokemon.pokemon_stat.max_hp}}</p>
            </div>

            <div class="pokemon-stat">
                <img src="/images/attack emoji.png" alt="Attack Icon" class="stat-icon" id="attack-icon">
                <p>Attack: {{userPokemon.pokemon_stat.attack}}</p>
            </div>

            <div class="pokemon-stat">
                <img src="/images/shield emoji.png" alt="Defense Icon" class="stat-icon" id="defense-icon">
                <p>Defense: {{userPokemon.pokemon_stat.defense}}</p>
            </div>

            <div class="pokemon-stat">
                <img src="/images/speed.png" alt="Speed icon" class="stat-icon" id="speed-icon">
            <p>Speed: {{userPokemon.pokemon_stat.speed}}</p>
        </div>
        </div>

        <button id="start-battle-button" class="battle-action-button">Start Battle!</button>

        <div class="vs-text">VS</div>

        <!-- Opponent's Pokémon -->
        <div class="battle-pokemon-card opponent-pokemon-card">
            <img id="opponent-pokemon-img" src="{{opponentPokemon.picture}}" alt="{{opponentPokemon.name}}">
            <h2>{{opponentPokemon.name}}</h2>
            <p>HP: {{opponentPokemon.current_hp}} / {{opponentPokemon.max_hp}}</p>
        </div>
        <button id="quit-battle-button" class="quit-battle-button">Quit Battle</button>
    </div>
</main>

<script src="/js/start-battle.js"></script>
<script src="/js/logout.js"></script>