<main>
  <h2>Battle Begins!</h2>

  <div class="battlefield-background">
    <!-- User's Pokémon -->
    <div class="battle-pokemon-card user-pokemon-card">
      <img src="{{userPokemon.picture}}" alt="{{userPokemon.name}}">
      <h2>{{userPokemon.name}}</h2>
      <p>HP: {{userPokemon.current_hp}} / {{userPokemon.max_hp}}</p>
      <p>Level: {{userPokemon.level}}</p>
      <p>Attack: {{userPokemon.attack}}</p>
      <p>Defense: {{userPokemon.defense}}</p>
      <p>Speed: {{userPokemon.speed}}</p>
    </div>

    <div class="vs-text">VS</div>

    <!-- Opponent's Pokémon -->
    <div class="battle-pokemon-card opponent-pokemon-card">
      <img src="{{opponentPokemon.picture}}" alt="{{opponentPokemon.name}}">
      <h2>{{opponentPokemon.name}}</h2>
      <p>HP: {{opponentPokemon.current_hp}} / {{opponentPokemon.max_hp}}</p>
      <p>Level: {{opponentPokemon.level}}</p>
      <p>Attack: {{opponentPokemon.attack}}</p>
      <p>Defense: {{opponentPokemon.defense}}</p>
      <p>Speed: {{opponentPokemon.speed}}</p>
    </div>
  </div>
</main>

<script src="/js/start-battle.js"></script>